.intro {
  grid-column: 1 / 13;
  background-image: url(/Website_Bruksel1/images/schaarbeek-station.jpg);
  background-size: cover;
  background-position: center center;
  height: 50vh;
  align-items: center;
  justify-items: center;
  display: grid;
  background-color: rgb(67, 67, 67);
  background-blend-mode: overlay;
}

.intro .test {
  width: 100%;
  max-width: 1200px;
  padding: 60px 20px;
  display: grid;
  place-items: center;
  text-align: center;
}

.intro h1,
.intro h2 {
  max-width: 1000px;
}

.contact {
  grid-column: 4/7;
  align-content: center;
  justify-content: center;
}

.adres {
  grid-column: 8/11;
}

.contact-ons {
  font-weight: 900;
  text-align: left;
  padding-bottom: 20px;
}
